# Discord / Client
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
DEBUG=true
PREFIX=c?

# Developer Configuration
DEVELOPER_IDS=

# Logging Configuration
LOG_LEVEL=debug

# Database
MONGODB_URI=
MARIADB_URI=

# Playwright config
BROWSER_WS_ENDPOINT=

# Channels
ERROR_LOG_CHANNEL_ID=

